/*MOBILE FIRST*/
/*réglage généraux*/
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway','sans-serif';
  font-size: 0.8rem;
  color: black;
  width: 100%;
}

img{
  width: 100%;
}

/*header*/


.header{
  width: 100%;
  display: flex;
  flex-direction: column;
}
 /*menu de navigation*/
.logo{
  width: 20%;
  margin-left: 5%;
}

.topbar{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.menu ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

.menu li{
  list-style: none;
  width: 50%;
  padding-bottom: 10px;

}

.menu a{
  text-decoration: none;
}

.menu li:nth-child(3){
  transform: translate(188%, -89%);;
  width: 34%;
}

.menu ul li:nth-child(1){
  border-bottom: 3px #0065FC solid;
}

.menu ul li:nth-child(2){
  border-bottom: 3px #F2F2F2 solid;
}

.li_accomodation{
  color: #0065FC;
}

.activities{
  color: black;
}

.inscription{
  color: #0065FC;
  font-weight: bold;
  font-size: 1rem;
}

/*titre*/
.title{
  margin-left: 5%;
  margin-top: 18px;
}

h1{
  font-size: 1.1rem;
}

/*search*/

.search_button{
  display: none;
  }

.search{
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  margin-top: 10px;
  }
  
.location_pointer{
  border: 2px transparent solid;
  background-color: #f2f2f2;
  padding: 10px;
  height: 12px;
  width: 10px;
  border-radius: 10px 0px 0px 10px;
  }
    
input{
  font-weight: bold;
  border: 1px #f2f2f2 solid;
  height: 32px;
  padding-left: 10px;
}

::placeholder{
  color: black;
}

.icon_mobile{
  border-style: none;
  padding: 0px;
  font-size: 14px;
  color: white;
  background-color: #0065fc;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  transform: translateX(-5px);
  }

  /*filtre*/

.group_filter >p{
  font-weight: bold;
  width: 100%;
  margin-left: 5%;
  margin-bottom: 0px;
}

.group_filter{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.group_filter_1, .group_filter_2, .group_filter_3, .group_filter_4{
  display: flex;
  align-items: center;
}



.icon_filter_1,.icon_filter_2, .icon_filter_3, .icon_filter_4{
  border-radius: 50%;
  color: #0065fc;
  border: 1px #deebff solid;
  width: 33px;
  height: 33px;
  font-size: 12px;
  background-color: #deebff;
  transform: translateX(28px);
}

.icon_filter_1 .fas{
  transform: translate(9px,9px);
}

.icon_filter_2 .fas{
  transform: translate(12px, 10px);
}

.icon_filter_3 .fas{
  transform: translate(10px, 10px);
}

.icon_filter_4 .fas{
  transform: translate(9px, 9px);
}

.filter_1 p, .filter_2 p, .filter_3 p, .filter_4 p{
  border: 2px #f2f2f2 solid;
  border-radius: 45px;
  padding: 10px 35px;
  font-weight: bold;
  height: 10px;
}


/*HOVER*/

.group_filter_1:hover{
  color: #0065FC;
  zoom: 110%;
}

.group_filter_2:hover{
  color: #0065FC;
  zoom: 110%;
}

.group_filter_3:hover{
  color: #0065FC;
  zoom: 110%;
}

.group_filter_4:hover{
  color: #0065FC;
  zoom: 110%;
}

/*info header*/
.info_header{
  display: flex;
  align-items: center;
  margin: 10px 30px;
}

.icon_info{
  color: #0065fc;
  border: 2px #f2f2f2 solid;
  width: 16px;
  height: 16px;
  border-radius: 46%;
}

.info_header .fa-info{
  transform: translate(6px, 0px);
  font-size: 12px;
}

.info_header p{
  margin: 10px;
}

/*Inversion hébergement et les plus populaires*/

.accomodation{
  display: flex;
  flex-direction: column-reverse
}

/*Les plus populaires*/


.accomodation_popular{
  background-color: #f2f2f2;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}


.h2_icon_popular{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px;
}

img{
  width: 100%;
}

figure{
  margin: 0px;
}

h2{
  font-size: 1rem;
}

h3{
  font-size: 0.85rem;
}

.accomodation_popular_group h3{
  margin: 0px;
  width: 148px;
}

 /*icon on the right*/
.fa-chart-line{
  font-size: 20px;
}

.accomodation_popular_group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.popular1, .popular2, .popular3{
  display: flex;
  width: 245px;
  margin: 5px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #cdcdcd;
}

.popular1 img{
  object-position: -27px -2px;
}

.accomodation_popular_group img{
  width: 97px;
  height: 100px;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
}


.accomodation_popular_group figcaption{
  margin: 5px 0px 0px 8px;
}

.accomodation_popular_group figcaption p{
  margin-top: 5px;
}

.traveler_reviews_7, .traveler_reviews_8, .traveler_reviews_9{
  color: #0065FC;
  font-size: 0.7rem;
  margin-top: 24px;
}

/*HÉBERGEMENT*/

.accomodation a{
  text-decoration: none;
  color: black;
}

#accomodation_marseille h2{
  margin: 10px;
}

#accomodation_marseille{
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.accomodation_group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
/*IMAGES HEBERGEMENT MARSEILLE*/
.accomodation_group img{
  width: 245px;
  height: 86px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.accomodation1, .accomodation2, .accomodation3, .accomodation4, .accomodation5, .accomodation6{
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  background-color: white;
  padding: 6px 2px 10px 2px;
  margin-right: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #f2f2f2;
}

.accomodation_group h3{
  margin-top: 5px;
}

.accomodation_group figcaption p{
  margin-top: -10px;
}

.accomodation_group figcaption{
  margin-left: 10px;
}

.traveler_reviews_1, .traveler_reviews_2, .traveler_reviews_3, .traveler_reviews_4, .traveler_reviews_5, .traveler_reviews_6{
  color: #0065FC;
  font-size: 0.7rem;
  margin-top: -7px;
}

.more{
  font-weight: bold;
  font-size: 1rem;
  margin-left: 3%;
  width: 100%;
}

/*euro bold & price*/
.euro_bold::after{
  content: "€";
  font-weight: bold;
}

.price{
  font-weight: bold;
}

/*ACTIVITES*/

#activities{
  display: flex;
  flex-direction: column;
}

#activities a{
  text-decoration: none;
  color: black;
}

#activities h2{
  margin: 10px;
}


#activities h3{
  margin-left: 15px;
  margin-bottom: 10px;
}

.description_activities{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.activity_1, .activity_2, .activity_3, .activity_4, .activity_5, .activity_6{
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  background-color: white;
  padding: 6px 4px 2px 4px;
  margin-right: 11px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #f2f2f2;
}

.activity_6{
  margin-bottom: 35px;
}

.description_activities img{
  width: 245px;
  height: 104px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.activity_1 img{
  object-position: 0px -9px;
}

.activity_2 img{
  object-position: 0px -110px;
}

.activity_3 img{
  object-position: 0px -6px;
}

.activity_4 img{
  object-position: 0px -9px;
}

.activity_5 img{
  object-position: 0px -6px;
}

.activity_6 img{
  object-position: 0px -18px;
}


/*footer*/

footer{
  background-color: #F2F2F2;
  display: flex;
  width: 100%;
}


.footer{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.about, .our_accomodation, .assistance{
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 200px;
}


footer ul{
  padding: 0px;
}

footer li{
  list-style: none;
  margin-top: 10px;
}

footer ul a{
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

