
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway','sans-serif';
  font-size: 1rem;
  color: black;
  width: 100%;
}
 /*conteneur*/
.wrapper{
  width: 90%;
  
}

/*HEADER*/

/*menu*/

.header{
  display: flex;
  flex-direction: column;
  margin: 15px 10px 0px 10px;

}

.topbar{
  display: flex;
  width: min-content;
}

.menu ul{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  margin-bottom: 60px;
  
}

.menu li{
  list-style: none;
}

.menu a{
  text-decoration: none;
}

.accomodation{
  color:#0065fc;;
  position: relative;
  right:118px;
  top: 35px;

}

.activities{
  position: relative;
  bottom:-19px;
  color: black;  
  top: 54px;

}

.inscription{
  color:#0065fc;
  font-weight: bold;
  transform: translateX(5px);
  position: absolute;
}

.logo{
  margin-bottom: 20px;;
}

